<div class="row row-cols-2 justify-content-end mb-3 py-1 px-2">
  <button [routerLink]="['/alta']" class="btn btn-outline-success">
    Nuevo
  </button>
</div>
<div class="row row-cols-12 justify-content-center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Tema</th>
        <th scope="col">Editorial</th>
        <th scope="col">isbn</th>
        <th scope="col">Autores</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @if(libros){ @for(l of libros; track l.id){
      <tr>
        <td scope="row">{{ l.titulo }}</td>
        <td>{{ l.tema }}</td>
        <td>{{ l.editorial }}</td>
        <td>{{ l.isbn }}</td>
        <td>
          {{
            l.autores
              ? l.autores[0].apellido + " " + l.autores[0].nombre + "..."
              : ""
          }}
        </td>
        <td>
          <div class="btn-group">
            <button
              class="btn btn-outline-primary py-1"
              [routerLink]="['/alta', l.id]"
            >
              Editar
            </button>
            <button
              class="btn btn-outline-danger py-1"
              (click)="borrarLibro(l.id)"
            >
              Borrar
            </button>
          </div>
        </td>
      </tr>
      } }@else {
      <span class="text-warning">No hay libros aun</span>
      }
    </tbody>
  </table>
</div>
