<nav class="container-fluid bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="alta">Alta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="More">More</a>
    </li>
  </ul>
  <app-filterbox (query)="getQueryFromChild($event)" />
</nav>
<p>Mensaje recibido del hijo: {{ inputQuery }}</p>
<div class="d-flex justify-content-center p-3">
  <app-lista [parentQuery]="inputQuery" />
</div>
<app-dependant-dropdown/>  
