label,
input {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  cursor: pointer;
}

form {
  margin-bottom: 20px;
}

input {
  border-radius: 5px;
  min-height: 20px;
  border: 1px solid rgb(173, 171, 171);
}
